.intro {
    position: relative;
    min-height: 100vh;

    &::before {
        content: "";
        width: 100%;
        height: 10vh;
        position: absolute;
        background-image: linear-gradient(
            to bottom,
            black,
            rgba(black, 0.8),
            transparent
        );
        z-index: 2;
        left: 0;
        top: 0;
    }
    &::after {
        content: "";
        width: 100%;
        height: 10vh;
        position: absolute;
        background-image: linear-gradient(
            to top,
            black,
            rgba(black, 0.8),
            transparent
        );
        z-index: 2;
        left: 0;
        bottom: 0;
    }

    &__cover {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;

        @include query(tabp) {
            position: static;
            width: 100%;
            height: 85vh;
        }

        @include query(cp) {
            height: 65vh;
        }
        @include query(scp) {
            height: 35vh;
        }

        &::before {
            content: "";
            width: 20%;
            height: 100%;
            background-image: linear-gradient(
                to right,
                black,
                rgba(black, 0.8),
                transparent
            );
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        display: block;

        @include query(tabp) {
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
        }
    }

    &__text {
        position: relative;
        width: 40%;

        @include query(tabp) {
            width: 100%;
        }
    }

    .desc {
        width: 95%;
    }
}
