.wallpapers{
    background-image: url(/img/bg-2.jpg);
    background-position: center;
    background-size: cover;
    .desc{
        width: 85%;
        margin:0 auto;
    }

}

.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    align-items: center;

    &__item{
        cursor: pointer;
        &:hover .expand .icon{
            fill: $main;
            transform: scale(1.2);
        }
    
    }

    &__cover{
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__img{
        width: 100%;
        height: auto;
    }
}