.btn{
    background-color: $main;
    text-transform: uppercase;
    color: black;
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
    padding: 0.3em 1em;
    border: 3px solid $main;
    transition: 300ms;
    &:link,
    &:visited{
        background-color: $main;
        text-transform: uppercase;
        color: black;
        font-family: 'Oswald',sans-serif;
        font-weight: bold;
        padding: 0.5em 1em;
        border: 3px solid $main;
    }

    &:hover{
        background-color: rgba($main,0.5);
        color: white;
    }
}

.slider-btn{
    background-color: $main;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);

    @include query(cp){
        top: 12%;
        z-index: 10;
    }
}


.next{
    right: -4rem;
    @include query(cp){
        right: 0;
    }

    &--3{
        width: 4rem;
        height: 4rem;
        right: 2rem;
        display: none;
    }
}

.prev{
    left: -4rem;
    @include query(cp){
        left: 0rem;
    }

    &--3{
        width: 4rem;
        height: 4rem;
        left: 2rem;
        display: none;
    }
}