.showNavi {
    background-color: rgba(black, 0.9);
}
.showNaviLogo {
    opacity: 1;
}

//

.pickedEdition {
    border-color: $main;
    color: white;
}

.slideInOverlay {
    transform: translateX(0);
}

.currentDot {
    background-color: $main;
}

.showScreenshot {
    display: block !important;
}

.showModal {
    transform: scale(1);
}
