// Padding

.u-py-1{padding: 2rem 0;}
.u-py-2{padding: 4rem 0;}
.u-py-3{padding: 6rem 0;}
.u-py-4{padding: 7rem 0;}
.u-py-5{padding: 8rem 0;}

//Margin
.u-my-1{margin:2rem 0;}
.u-my-2{margin:4rem 0;}
.u-my-3{margin:6rem 0;}
.u-my-4{margin:7rem 0;}
.u-my-5{margin:8rem 0;}

.u-mb-1{margin-bottom: 1rem;}
.u-mb-2{margin-bottom: 2rem;}
.u-mb-3{margin-bottom: 4rem;}
.u-mb-4{margin-bottom: 5rem;}
.u-mb-5{margin-bottom: 6rem;}

//COntainer

.container{
    max-width: 900px;
    margin: 0 auto;
}

// center
.u-centered{
    text-align: center;
}

// dark

.bottom-dark{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
}
.top-dark{
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
}
// TITLE

.title{
    font-size: 2.6rem;
    border-bottom: 4px $main solid;
    padding-bottom: 0.2rem;
    text-transform: uppercase;
    display: inline-block;
}

.title-2{
    font-size: 2rem;
    text-transform: uppercase;
}

// DESC

.desc{
    font-size: 1.2rem;
}

